# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de editores (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
